<div class="jumbotron" style="height: 150px;">
<form>
    <div class="form-row" style="margin-top: -28px ;"   >
      <div class="form-group col-md-2">
        <label for="inputEmail4" class="font-weight-bold">Order Type</label>
      </div>
      <div class="form-group col-md-4">
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="form-group col-md-2">
        <label for="inputPassword4" class="font-weight-bold">Order Number</label>
      </div>
      <div class="form-group col-md-4">
        <input type="text" class="form-control" id="inputPassword4">
      </div>
    </div>
    <div class="form-group col-md-12 text-center" >
        <button type="submit" class="btn btn-primary">Search Order</button> &nbsp; &nbsp;&nbsp;
        <button type="reset" class="btn btn-primary">Clear Search</button> &nbsp; &nbsp;&nbsp;
        <a  class="btn btn-success" routerLink="newOrder" style="color: aliceblue;">New Order</a>       
    </div>
</form>
</div>
<div>
    <table class="table table-bordered  table-striped" id="OrderDetailsTable">
        <thead>
          <tr class="font-weight-bold text-center">
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
</div>