<div class="jumbotron" style="height: 400px;">
<form>
    <div class="form-row" style="margin-top: -25px;">  
      <div class="form-group col-md-6">
        <label for="inputEmail4" class="col-md-4">Food Type</label>
        <select class="custom-select col-md-8">
            <option selected>Choose Food Type</option>
            <option value="1">Breakfast</option>
            <option value="2">Lunch</option>
            <option value="3">Snacks</option>
            <option value="3">Dineer</option>
          </select>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4" class="col-md-4">Food Item</label>
        <select class="custom-select col-md-8">
            <option selected>Choose Food Item</option>
            <option value="1">Starters</option>
            <option value="2">Main Course</option>
            <option value="3">Desart</option>
            <option value="3">Bevarae</option>
          </select>
      </div>
    </div>
    <div class="form-row mt-0">
        <div class="form-group col-md-6">
            <label for="inputEmail4" class="col-md-4">Price</label>
            <input type="text" class="col-md-8" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4" class="col-md-4">Quantity</label>
            <input type="text" class="col-md-8" id="inputAddress" placeholder="1234 Main St">
        </div>
    </div>

    <div class="form-row mt-0">
        <div class="form-group col-md-6">
            <label for="inputEmail4" class="col-md-4">Total Cost</label>
            <input type="text" class="col-md-8" id="inputAddress" placeholder="Total Cost">
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4" class="col-md-4">Mode Of Pay</label>
            <select class="custom-select col-md-8">
                <option selected>Choose Pay Mode</option>
                <option value="1">Card</option>
                <option value="2">UPI</option>
                <option value="3">Cash</option>
              </select>
        </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputCity" class="col-md-2" >Select Address</label>
        <textarea class="col-md-10" id="exampleFormControlTextarea1" rows="2"></textarea>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12 text-center">
            <button type="submit" class="btn btn-primary col-md-2" >Order</button> &nbsp;&nbsp;
            <button type="reset" class="btn btn-primary col-md-2" >Clear</button>
        </div>
    </div>
  </form>
</div>